<mat-card class="card" (mouseenter)="showButtons()" (mouseleave)="hideButtons()">
        <a [routerLink]="['/image/' + data.id]">
        <img class="card-image" [src]=data.urls.regular>
    </a>
        <mat-card-actions *ngIf="show" class="button-container">
            <button mat-mini-fab color="accent" (click)="download(data.links.download_location, data.user.username, data.id)"><mat-icon>download</mat-icon></button>
            <button mat-mini-fab color="accent" (click)="copy(data.urls.full)"><mat-icon>share</mat-icon></button>
        </mat-card-actions>
        <p>
            <mat-toolbar>
                <img [src]=data.user.profile_image.large class="avatar">
                <span>
                    {{data.user.username}}
                </span>
            </mat-toolbar>
        </p>
        </mat-card>
